.card-box{
    padding: 16px 10px 11px 10px;
    border: 1px solid #DCE0F3;
    border-radius: 3px 3px 0 0;
    width: 250px;
    
}
.form-check-input{
    border: 1px solid #D8DDE4;
border-radius: 2px;
}
.form-check-input:hover , .form-check-input:checked ,.form-check-input:visited {
outline: none;
box-shadow: none;
/* background-color: transparent; */
}
.form-check-label{
    font: normal normal normal 14px/19px 'Roboto-Regular';
letter-spacing: 0px;
color: #091E42;
text-transform: capitalize;
}
.form-check{
    margin-bottom: 0;
}
.star-icon{
    margin: 6px 1px 0px 1px;
    height: 11px;
    width: 11px;
    
  }
  .job-title{
    font: normal normal normal 12px/16px 'Roboto-Regular';
    letter-spacing: 0px;
    color: var(--dark-blue);
    margin-left: 25px;
    margin-bottom: 0;
  }
  .access-box{
    border: 1px solid #DCE0F3;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    padding: 12px 12px 12px 31px ;
    width: 250px;
  }
.time-left{
    font: normal normal normal 10px/13px 'Roboto-Regular';
    letter-spacing: 0px;
    color: #42526E;
    text-transform: capitalize;
}
.reject{
    font: normal normal normal 12px/16px 'Roboto-Regular';
    margin-right: 10px;
letter-spacing: 0px;
color: #F00505;
margin-bottom: 0;
}
.form-check-input:checked .access-box ,.form-check-input:checked .card-box{
    border: 1px solid black;
}